---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";

const allPosts = await getCollection("blog");
---

<Layout title="Blog">
  <main>
    <ul>
      {allPosts.map(post => <li><a href={`/blog/${post.slug}`} data-astro-prefetch>{post.data.title}</a></li>)}
    </ul>
  </main>
</Layout>