---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About me.">
  <main>
    <h1>About me</h1>
    <p>
      I am working through Astro's introductory tutorial. This is the second
      page on my website, and it's the first one I built myself!
    </p>
    <p>
      This site will update as I complete more of the tutorial, so keep checking
      back and see how my journey is going!
    </p>

    <a href="https://icon-sets.iconify.design/solar/?query=moon-stars-bold"
      >moon-stars-bold</a
    > and <a href="https://icon-sets.iconify.design/solar/?query=sun-2-bold"
      >sun-2-bold</a
    > by <a href="https://www.figma.com/@480design">480 Design</a> is licensed
    under <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
  </main>
</Layout>
