---
import Layout from "@layouts/Layout.astro";
---

<Layout title="About me">
  <main>
    <h1>About me</h1>
    <p>
      Hello and welcome to my blog! My name is Simon Saberian and I am currently
      working as a DevOps engineer consultant at Roxtec! My thoughts and opinions
      are my own.
    </p>

    <a href="https://icon-sets.iconify.design/solar/?query=moon-stars-bold"
      >moon-stars-bold</a
    > and <a href="https://icon-sets.iconify.design/solar/?query=sun-2-bold"
      >sun-2-bold</a
    > by <a href="https://www.figma.com/@480design">480 Design</a> is licensed under
    <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a>
  </main>
</Layout>
