---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog")
---

<Layout title="Blog">
  <main>
    <ul>
      {allPosts.map(post => <li><a href={`/posts/${post.slug}`} data-astro-prefetch>{post.data.title}</a></li>)}
    </ul>
  </main>
</Layout>