---
import LatestPosts from "@components/LatestPosts.astro";
import Layout from "@layouts/Layout.astro";

const pageTitle = "Index";
---

<Layout title={pageTitle}>
  <main class="text-base-content">
    <p>
      There will be more here soon i promise
    </p>
    <div class="divider"></div>
    <LatestPosts />
  </main>
</Layout>
