---
import Layout from "../layouts/Layout.astro";
import LatestPosts from "../components/LatestPosts.astro";

const pageTitle = "Index";
---

<Layout title={pageTitle}>
  <main class="text-base-content">
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, vitae!
      Nemo reprehenderit saepe amet dolorum doloremque vel molestias totam magni
      voluptatem debitis quod similique esse, numquam quas illo sint tempore.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, vitae!
      Nemo reprehenderit saepe amet dolorum doloremque vel molestias totam magni
      voluptatem debitis quod similique esse, numquam quas illo sint tempore.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, vitae!
      Nemo reprehenderit saepe amet dolorum doloremque vel molestias totam magni
      voluptatem debitis quod similique esse, numquam quas illo sint tempore.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Culpa, vitae!
      Nemo reprehenderit saepe amet dolorum doloremque vel molestias totam magni
      voluptatem debitis quod similique esse, numquam quas illo sint tempore.
    </p>
    <LatestPosts />
  </main>
</Layout>
