---
import LatestPosts from "@components/LatestPosts.astro";
import Layout from "@layouts/Layout.astro";

const pageTitle = "Index";
---

<Layout title={pageTitle}>
  <main class="text-base-content">
    <h1>Pixel Peeker Blog</h1>
    <p>
      Hi! I'm Simon, a Software Engineer who loves to learn and share my experiences with others!
      Check out some of the posts I've written down below!
    </p>
    <div class="divider"></div>
    <h2>Latest posts</h2>
    <LatestPosts />
  </main>
</Layout>
