---
import Navigation from "./Navigation.astro";
import ToggleTheme from "./ToggleTheme.tsx";

const domain = "Pixel Peeker";
---

<header class="bg-base-200">
  <nav class="navbar mx-auto md:max-w-5xl">
    <section class="navbar-start">
      <div class="dropdown">
        <button tabindex="0" class="btn btn-ghost md:hidden" aria-label="navigation">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M4 6h16M4 12h8m-8 6h16"></path></svg
          >
        </button>
        <ul
          class="menu dropdown-content rounded-box menu-sm z-[1] mt-3 w-52 bg-base-100 p-2 shadow"
        >
          <Navigation />
        </ul>
      </div>
      <a href="/" class="btn btn-ghost no-animation text-2xl normal-case"
        >{domain}</a
      >
    </section>
    <section class="navbar-center hidden md:flex">
      <ul class="menu menu-horizontal px-1 text-lg">
        <Navigation />
      </ul>
    </section>
    <section class="navbar-end">
      <ToggleTheme client:only="react" />
    </section>
  </nav>
</header>
