---
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

const lastThreePosts = allPosts.slice(0, 3);
---

<div class="grid lg:grid-cols-3 gap-4 not-prose">
  {
    lastThreePosts.map(post => (
      <a href={`/posts/${post.slug}`}>
        <div class="card card-compact w-full h-full bg-neutral text-neutral-content">
          <div class="card-body items-center text-center">
            <h2 class="card-title">{post.data.title}</h2>
            <p>{post.data.description}</p>
          </div>
        </div>
      </a>
    ))
  }
</div>
