---
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");

const lastThreePosts = allPosts.slice(0, 3);
---

<div class="grid lg:grid-cols-3 gap-4 not-prose">
  {
    lastThreePosts.map(post => (
      <a href={`/blog/${post.slug}`} data-astro-prefetch>
        <div class=" w-full h-full bg-neutral text-neutral-content items-center text-center p-4 rounded-lg">
            <h2 class="leading-tight font-bold">{post.data.title}</h2>
        </div>
      </a>
    ))
  }
</div>
