---
import { Icon } from "astro-icon/components";
interface Props {
  platform: string;
  link: string;
  iconName: string;
}
const { platform, link, iconName } = Astro.props;
---

<a href={link} class="btn btn-primary no-animation normal-case text-lg"><Icon name={iconName} size={43} class="h-full px-1"/>{platform}</a>
