---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="flex not-prose gap-2 py-2">
  {
    tags.map(tag => (
      <p class="btn btn-link no-animation btn-xs ">
        <a href={`/tags/${tag}`} class="link">
          {tag}
        </a>
      </p>
    ))
  }
</div>
