---
interface Props {
  tags: string[];
}

const { tags } = Astro.props;
---

<div class="not-prose flex py-1 gap-x-3">
  {
    tags.map(tag => (
      <a
        class="text-md text-base-content underline"
        href={`/tags/${tag}`}
        class="link"
      >
        {tag}
      </a>
    ))
  }
</div>
