---
import Footer from "@components/Footer.astro";
import Header from "@components/Header.astro";
import "@fontsource-variable/kreon";

interface Props {
  title: string;
}

// prose-code:bg-neutral prose-code:text-neutral-content prose-code:rounded-md

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="font-kreon">
    <div class="flex min-h-screen flex-col">
      <Header />
      <article
        class="prose prose-lg mx-auto w-full flex-1 px-3 pt-8 text-base-content"
      >
        <slot />
      </article>
      <Footer />
    </div>
  </body>
</html>
